{% extends 'blog_app/base.html' %} {% block body_block %}

<h1>This is a list of posts</h1>

<div class="list-group">
	{% for post in posts %}
	<a
		style="width: 50%"
		href="{% url 'basic_app:postDetail' pk=post.pk %}"
		class="list-group-item list-group-item-action"
	>
		<div class="d-flex w-50 justify-content-between">
			<h3 class="mb-1">{{post.title}}</h3>
			<small class="text-muted">{{post.publishTime}}</small>
		</div>
		<p class="mb-1">{{post.content}}</p>
		<small class="text-muted">{{post.author}}</small>
	</a>

	{% endfor %}
</div>

{% endblock %}
