{% extends 'blog_app/blog_app.html' %}
{% block body_block %}
<h1>
    {% if not form.instance.pk %}
    Create Post
    {% else %}
    Update Post
    {%endif%}
</h1>

<form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    {% if form.instance.pk %}
    {% if post.published_time %}
    <a type="submit" class="btn btn-primary" href="{% url 'blog_app:postUnPublish' pk=post.pk %}">UnPublish</a>
    {% else %}
    <a type="submit" class="btn btn-primary" href="{% url 'blog_app:postPublish' pk=post.pk %}">Publish</a>
    {% endif %}
    {% endif %}
    <input type="submit" class="btn btn-primary" value="Submit" />
</form>

{% endblock%}
