{% extends 'blog_app/blog_app.html' %}
{% block body_block %}
<h1>
    {% if not form.instance.pk %}
    Create Post
    {% else %}
    Update Post
    {%endif%}
</h1>

<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    {% if form.instance.pk %}
        {% if post.published_time %}
            <a type="submit" class="btn btn-primary" href="{% url 'blog_app:unPublish' pk=post.pk %}">UnPublish</a>
        {% else %}
            <a type="submit" class="btn btn-primary" href="{% url 'blog_app:postPublish' pk=post.pk %}">Publish</a>
        {% endif %}
    {% endif %}
    {% if img_obj %}
        <img src="{{ img_obj.image.url}}" alt="connect" style="max-height:300px">
    {% endif %}
    <input type="submit" class="btn btn-primary" value="Submit" />
</form>

{% endblock%}
