{% extends "blog/base.html" %}

{% block content %}
<div class="centerstage"
        <div class="row">
            {% for post in post_list %}
            <div class="col-md-3 col-md-push-10">
            
                {% if post.image %}
                <br>     
                <img src="{{ post.image.url }}" class="img-thumbnail" id="main-images">
        
            {% endif %}
   
            </div>
            <div class="col-md-9 col-md-pull-2" id="posts_content">
                <br>
                <img src="{{post.image.url}}"class="img-circle" style="width: 20px; height: 20px;"> {{post.author}}
           
                    <h3><a href="{% url 'post_detail' pk=post.pk %}">{{post.title}}</a></h3>
                    <div>
                        <p>{{post.text|truncatechars:80}}</p>
                    </div>
                    <div class="date">
                        <p>{{post.published_date|date:"D M Y"}}</p>
                    </div>
                    
        
            </div>
    
            {% endfor %}
        </div>
    </div>
{% endblock %}