
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>
<body>
    <nav class="navbar navbar-default navbar-static-top">
        <ul class="nav navbar-nav">
            <li><a class="navbar-band" href="{% url 'blog_app:list' %}">Post</a> </li>
            <li><a class="navbar-band" href="{% url 'admin:index' %}">Admin</a></li>
        </ul>
    </nav>
    
        <div class="container">
            {% block body_block %}
            {% endblock %}
        </div>
    
</body>